@import url('https://fonts.googleapis.com/css?family=Cormorant&display=swap');

html {
  height: 100%;
  background: url(img/bonneville_crater.jpg) no-repeat center left fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  min-height: 100%;
  min-width: 100%;
  margin: 0 0 192px;
}

section {
  margin-bottom: 20px;
}

#root {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 192px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 192px;
}

h1, h2, .title, .subtitle, .hero, .footer {
  font-family: 'Cormorant', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#nav-toggle-state {
  display: none;
}

#nav-toggle-state:checked ~ .navbar-menu {
  display: block;
}

.navbar {
  background-color: #ffffff00 !important;
}

.card {
  background-color: rgba(0,0,0,0.5) !important;
  color: white !important;
}

.hero {
  background-color: rgba(0,0,0,0.6) !important;
}

.articles > .row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.articles > .row::-webkit-scrollbar {
  display: none;
}

.column {
  flex: 0 0 auto;
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    background-color: rgba(0,0,0,0.6) !important;
  }
  
  .navbar-item, .navbar-link {
    color: #ffc7a2 !important;
  }

  a.navbar-item.is-active {
    color: #c75c15 !important;
    background-color: #0000004a !important;
  }
}