@import url('https://fonts.googleapis.com/css?family=Cormorant&display=swap');

html {
  background: url(img/bonneville_crater.jpg) no-repeat center left fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

h1 {
  font-family: 'Cormorant', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  background-color: rgba(0,0,0,0.5) !important;
  color: white !important;
  margin: 20px !important;
}

#nav-toggle-state {
  display: none;
}

#nav-toggle-state:checked ~ .navbar-menu {
  display: block;
}

@media screen and (max-width: 1023px) {
  .navbar {
    background-color: #ffffff00 !important;
  }
  .navbar-menu {
    background-color: rgba(0,0,0,0.6) !important;
  }

  .navbar-item, .navbar-link {
    color: #ffc7a2 !important;
  }

  a.navbar-item.is-active {
    color: #c75c15 !important;
    background-color: #0000004a !important;
  }
}